{% extends "base_layout.html" %}

{% block title %}Planning Poker | Voting{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/room.css') }}">
{% endblock %}

{% block content %}
<div class="modal-overlay hidden" id="display-name-popup">
    <div class="modal-content">
        <h2>Choose your display name</h2>
        <input type="text" placeholder="Your display name" class="display-name-input" id="display-name-input-id">
        <div class="error-message hidden" id="error-message">Please enter a display name.</div>
        <button class="join-button" id="join-button">Join the room</button>
    </div>
</div>
<div class="flex-container participants-container">
    <h2>Participants (<span id="participants-count">0</span>):</h2>
    <div id="participants-list">
    </div>
</div>
<div class="flex-container voting-interface-container">
    <button id="start-voting">Start new voting</button>
    <div id="voting-buttons" class="hidden">
        <button class="vote-button" data-value="1">1</button>
        <button class="vote-button" data-value="2">2</button>
        <button class="vote-button" data-value="3">3</button>
        <button class="vote-button" data-value="5">5</button>
        <button class="vote-button" data-value="8">8</button>
        <button class="vote-button" data-value="13">13</button>
        <button class="vote-button" data-value="21">21</button>
        <button class="vote-button" data-value="34">34</button>
        <button class="vote-button" data-value="55">55</button>
        <button class="vote-button" data-value="89">89</button>
    </div>
    <button id="end-voting" class="hidden">Finish voting</button>
    <div id="results" class="hidden">
        <h2>Vote Results</h2>
        <div id="average">
            <span id="average-label">Average:</span>
            <span id="average-value">0</span>
        </div>
        <div id="votes-list">
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/room.js') }}"></script>
{% endblock %}
