:root {
    --black-button: #000;
    --black-button-light: #555;
    --text-color-white: #fff;
    --primary-color: #5A7FFD;
    --primary-color-light: #7fb0e8;
    --secondary-color: #4A90E2;
    --background-light: #E5EEFF;
    --background-light-alt: #f9f9f9;
    --text-color-dark: #333;
    --text-color-muted: #6C757D;
    --error-color: red;
    --font-family: Arial, sans-serif;
    --font-size-small: 14px;
    --font-size-medium: 16px;
    --font-size-large: 20px;
    --font-size-xlarge: 24px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-light-alt);
    color: var(--text-color-dark);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-top: 20px;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: var(--font-size-medium);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: var(--primary-color-light);
}

.hidden {
    display: none !important;
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-top: 20px;
    padding-left: 25px;
}

.logo {
    position: relative;
    width: 50px;
    height: 50px;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    font-weight: bold;
    color: var(--text-color-dark);
}

.logo-image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.logo::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    clip-path: polygon(50% 0%, 100% 35%, 100% 100%, 0% 100%, 0% 35%);
    border-radius: 10px;
}

.logo::after {
    content: 'PP';
    position: absolute;
    color: white;
    font-size: var(--font-size-medium);
    font-weight: bold;
    font-family: var(--font-family);
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
}

.header-text {
    padding-left: 10px;
    font-size: var(--font-size-xlarge);
    font-weight: bold;
    width: 300px;
    height: auto;
}

.user-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 8px;
    font-size: var(--font-size-medium);
    color: var(--text-color-dark);
    padding-top: 20px;
    padding-right: 300px;
}

.user-avatar {
    width: 40px;
    height: 40px;
    background-color: var(--background-light);
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: var(--font-size-medium);
    font-weight: bold;
}

.user-name {
    font-size: var(--font-size-medium);
    font-weight: bold;
    color: var(--text-color-dark);
    display: flex;
}